In [11]:
import pymysql #conda install pymysql로 설치해야 함

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='python', charset='utf8') #python이라는 db를 만들어야 함.

cursor = conn.cursor()

# ''' ''' 을 쓰면 줄바꿈해도 문자열로 인식함
sql = '''CREATE TABLE mysql (
            id INTEGER PRIMARY KEY AUTO_INCREMENT
            , title VARCHAR(100), content VARCHAR(100))'''

cursor.execute(sql) #실행

conn.commit() #저장

cursor.close()
conn.close()

InternalError: (1050, "Table 'mysql' already exists")

In [12]:
import pymysql #conda install pymysql로 설치해야 함

conn = None
try:
    conn = pymysql.connect(
        host='localhost', user='root', password='1234',
        db='python', charset='utf8') #python이라는 db를 만들어야 함.

    # 자동으로 cursor.close()
    with conn.cursor() as cursor:
        # ''' ''' 을 쓰면 줄바꿈해도 문자열로 인식함
        sql = '''CREATE TABLE mysql2 (
                    id INTEGER PRIMARY KEY AUTO_INCREMENT
                    , title VARCHAR(100), content VARCHAR(100))'''
        cursor.execute(sql) #실행

    conn.commit() #저장

except pymysql.InternalError as e:
    print(e)
    
finally:
    if conn:
        conn.close()

(1050, "Table 'mysql2' already exists")

In [15]:
import pymysql #conda install pymysql로 설치해야 함

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='python', charset='utf8') #python이라는 db를 만들어야 함.

cursor = conn.cursor()

# ''' ''' 을 쓰면 줄바꿈해도 문자열로 인식함
sql = '''INSERT INTO mysql (ID, TITLE, CONTENT)
          VALUES (NULL, %s, %s)'''

cursor.execute(sql, ('제목', '내용')) #실행

conn.commit() #저장

cursor.close()
conn.close()

In [19]:
import pymysql #conda install pymysql로 설치해야 함

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='python', charset='utf8') #python이라는 db를 만들어야 함.

cursor = conn.cursor()

# ''' ''' 을 쓰면 줄바꿈해도 문자열로 인식함
sql = '''UPDATE mysql SET TITLE = %s
          WHERE ID = %s'''

cursor.execute(sql, ('제목수정됨', 1)) #실행

conn.commit() #저장

cursor.close()
conn.close()

In [18]:
import pymysql #conda install pymysql로 설치해야 함

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='python', charset='utf8') #python이라는 db를 만들어야 함.

cursor = conn.cursor()

# ''' ''' 을 쓰면 줄바꿈해도 문자열로 인식함
sql = '''DELETE FROM MYSQL
          WHERE ID = %s'''

cursor.execute(sql, (2)) #실행

conn.commit() #저장

cursor.close()
conn.close()

In [25]:
# fetchall : 여러개, fetchone : 한 개 를 튜플로 받아옴.
import pymysql #conda install pymysql로 설치해야 함

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='python', charset='utf8')

cursor = conn.cursor()
sql = '''SELECT title,content FROM MYSQL'''
cursor.execute(sql)
result = cursor.fetchall()
one_result = cursor.fetchone()
print(result)
print(result[0])
print(result[0][1])

print('1개 fetch: ', one_result)

conn.commit()
cursor.close()
conn.close()

(('제목수정됨', '내용'), ('제목', '내용'))
('제목수정됨', '내용')
내용
1개 fetch:  None

In [30]:
import pymysql

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='pythondb', charset='utf8')

cursor = conn.cursor()
sql = '''CREATE TABLE MEMBER(
          NUM INTEGER PRIMARY KEY AUTO_INCREMENT,
          NAME VARCHAR(30),
          EMAIL VARCHAR(30),
          C_DATE DATETIME)'''
cursor.execute(sql)

conn.commit()
cursor.close()
conn.close()

In [31]:
import pymysql

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='pythondb', charset='utf8')

cursor = conn.cursor()
sql = '''CREATE TABLE ARTICLE(
          ID INT PRIMARY KEY AUTO_INCREMENT,
          TITLE VARCHAR(30),
          CONTENT VARCHAR(30),
          WRITER VARCHAR(30),
          HIT INT,
          C_DATE DATETIME)'''
cursor.execute(sql)

conn.commit()
cursor.close()
conn.close()