In [1]:
몫 = 23//5
나머지 = 23 % 5

In [2]:
print(몫, 나머지)

4 3

In [3]:
0xFF

255

In [5]:
0o33

27

In [6]:
date = '2007-03-27'

In [9]:
year = date[:4]
month = date[5:7]
day = date[8:]

In [10]:
print(year, month, day)

2007 03 27

In [11]:
change_date = year +' ' + month + ' ' + day

In [12]:
print(change_date)

2007 03 27

In [13]:
s="python"

In [14]:
'{0:^5}'.format(s)

'python'

In [16]:
'{0:^10}'.format(s)

'  python  '

In [17]:
s = 'Life is too short, You need Python'

In [22]:
idx = s.index('short')

In [38]:
print(idx)

12

In [39]:
str = s.find(' ',idx)

In [41]:
print(str)

18

In [61]:
fstr = s[:str-1]
sstr = s[str+1:]
print(fstr)
print(sstr)

Life is too short
You need Python

In [46]:
list = [ 'a', [ [ 'Life', 'is', 'too', 'short' ]], 2]

In [48]:
list[1]

[['Life', 'is', 'too', 'short']]

In [51]:
list[1][0][3]

'short'

In [62]:
list = [1, 2, 3, 4, 5]
# 4번째 요소 삭제
list[3:4] = [6]
list

[1, 2, 3, 6, 5]

In [75]:
list = [1, 2, 3, 4, 5]
list.extend([['가', '나']])
print(list)

[1, 2, 3, 4, 5, ['가', '나']]

In [79]:
list = ['a','c','b']
list.reverse()
print(list)

['b', 'c', 'a']

In [80]:
list = ['a','c','b']
list.sort()
print(list)

['a', 'b', 'c']

In [88]:
season = ['봄', '여름', '가을', '겨울']
color = ['RED', 'GREEN', 'BLUE']
season2 = season[2]
color2 = color[1]
print(season2)
print(color2)
join = season2+" + "+color[1]
print(join)

가을
GREEN
가을 + GREEN

In [99]:
person = [ 'ggoreb', 20, ['서울', '관악구', '신림동'],
 ['대전', '서구', '둔산동']]
data = "[{0}]{1}/{2}".format(person[0], person[2][2], person[3][2])
print(data)

[ggoreb]신림동/둔산동

In [109]:
data1 = person[0]
data2 = person[1]
data = "{0} {1}".format(data1, data2)
print(data)

ggoreb 20

In [115]:
list = ['열혈강호', '용비불패']
list.insert(1, '고수')
print(list)

['열혈강호', '고수', '용비불패']

In [116]:
dict = { 'a' : 1, 'b' : 2, 'c' : 3 }
dict

{'a': 1, 'b': 2, 'c': 3}

In [117]:
dict['가'] = '파이썬'
dict

{'a': 1, 'b': 2, 'c': 3, '가': '파이썬'}

In [10]:
mylist = ['a','b','d','e','d','u','r']
j = 0
for i in mylist:
    j = j + 1
    if i == 'e':
        print(i, j)
        break;

e 4

In [2]:
 dict = { 'a' : 1, 'b' : 2, 'c' : 3 }

In [3]:
t_list = dict.items()
t_list

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [4]:
t_list = list(t_list)
t_list

[('a', 1), ('b', 2), ('c', 3)]

In [15]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}
mykey = '천안'
is_exist = mykey in number
print(is_exist)
number['천안'] = '이답'
is_exist = mykey in number
print(is_exist)

False
True

In [16]:
score = 60
if score >= 60:
    print('통과')

통과

In [22]:
workingTime = 7 # 근무시간
# 코드 작성
# workingTime 이 8 이상이면 퇴근
if workingTime >= 8:
    print("퇴근")
# workingTime 이 8 미만이면 계속 근무
else: print("계속 근무")

계속 근무

In [24]:
score = 70 # 시험점수
# 코드 작성
if score >= 90:
    print("A")
elif score >= 70:
    print("B")
elif score >= 50:
    print("C")
else:
    print("F")

B

In [26]:
cardList = ['우리카드', '신한카드', 'KB카드']
# 코드 작성
for i in cardList:
    if i == '하나카드':
        print('할인 가능')
    else:
        print('할인 불가능')

할인 불가능
할인 불가능
할인 불가능

In [27]:
import turtle as t
t.shape('turtle')